.home {
  height: 100vh;
  background-image: url("../../Images/Team.png");
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: brightness(0);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-position-x: -110px;
  background-position-y: 62px;
}
.home img {
  width: 35%;
  margin-bottom: 75px;
}
.btn {
  color: #fff;
  font-family: "Port Lligat Sans", sans-serif;
  text-decoration: none;
  padding: 20px 60px;
  background: #f3748b;
  font-size: 20px;
  transition: 0.2s;
}
.btn:hover {
  background: #f45875;
}
@media only screen and (max-width: 600px) {
  * {
    overflow-x: hidden;
  }

  .home {
    width: 100vw;
    background-image: url(../../Images/Team-mobile.png);
    background-size: 290vw;
    height: 93vh;
  }
  .home img {
  }
  .white {
    width: 100vw;
  }
  .dark {
    width: 100vw;
  }
  #kayotica {
    width: 290px;
  }
  p {
    font-size: 25px;
    padding: 4px 7px;
  }
  .service p {
    text-align: center !important;
  }
  .service .serv {
    height: 62vh !important;
    flex-direction: column;
  }
  .service {
    height: 148vh !important;
  }
  .service .serv .list {
    flex-direction: column;
  }
  .goal p {
  }
  #bio-br {
    content: "";
    display: block;
    margin: 1rem;
  }
  #team {
    height: 300vh;
  }
  .team {
    height: 86%;
  }
  #contact {
    flex-direction: column;
  }
  .contact .form {
    width: 100%;
    align-items: center;
  }
  label {
    flex-direction: column;
  }
  .submit {
    left: 0;
  }
  .foot-cont {
    flex-direction: column;
  }
  .footer {
    height: 120vh;
  }
  .companie {
    margin-top: 20px;
  }
  .companie img {
    width: 270px;
  }
  .companie h3 {
    font-size: 21px;
    margin-top: 26px;
  }
  .social {
    padding: 0;
    height: 70%;
    /* margin-top: -108px; */
    justify-content: flex-start;
  }
  .folow {
    top: 1px;
    margin-bottom: 20px;
    font-size: 28px;
  }
  .link-foot {
    height: 100%;
    width: 100%;
    align-items: center;
  }
}
